.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #eaeaeade;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .card:hover {
    transform: translateY(-7px);
  }