nav{
    position: fixed!important;
    width: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    box-sizing: border-box;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
    0 2px 2px rgba(0,0,0,0.12),
    0 4px 4px rgba(0,0,0,0.12),
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}
.navbar{
    background: wheat;

}
a{
    text-decoration: none!important;
}
li{
    cursor: pointer!important;

}