footer{
    background: rgb(219, 219, 219);
    padding: 0;
    text-align: center;
    font-size: 0.9rem;
    
}
footer a{
    color: rgba(0, 0, 0, 0.904);    text-decoration: none;

}
footer li{
    list-style: none;

}

.permalinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}
.footer__logo{
    font-size: 2rem;
    font-weight: 500;
margin-bottom: 2rem;
display: inline-block;
}

.footer__socials{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.footer__socials a{
    background: rgb(151, 151, 151);
    color: rgb(0, 0, 0);
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex   ;
    border: 1px solid transparent;
    margin-bottom: 3rem;

}

/* Media Queries - Small device */

@media screen and (max-width:700px) {
   .permalinks{
    flex-direction: column;
    padding: 0!important;
   }
   
    
}
