.App {  

  text-align: center;
  background-image: url(../public/assets/cartographer.png);
  
}
.detail-page{
  margin-top: 100px;
}
.detail-page .content{
  padding-top: 100px;
}
/* #light{
  background-color: rgba(253, 216, 95, 0.74);
}

#dark{
  background-color: rgba(12, 12, 102, 0.712);
} */